<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>


</header>
<div class="container">
  <div class="title font-weight-bold">
    Las Mejores Hamburguesas<br>Conoce mas de ellas<br>
    <button class="btn-head btn-outline-light me-md-2">Registrate ahora!</button>
  </div>

</div>
    <div class="container-fluid bg-gray container-top container-bot  ">
        <div class="row justify-content-md-center row-cols-1 row-cols-md-5 g-6">
            <div class="col">
              <div class="card text-white bg-dark mb-3 ">
                <img src="assets/ham3.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hamburguesa1</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-dark mb-3 ">
                <img src="assets/ham2.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hamburguesa2</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-dark mb-3 ">
                <img src="assets/ham1.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hamburguesa3</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="container-fluid  bg-dark container-top container-bot" >
      <div class="row justify-content-center">
        <img src="assets/hambu1.png" class="img-ham col-5" alt="hamburguesa">
        <div class ="row g-2 text-white col-5  align-self-center">
            <h2 class="text-center" >Especial</h2><br>
              <p class="text-center">loremvitae ut dolorem</p>
            <p class="text-center">$23</p>
            <button class="btn btn-outline-light btn-part ">Buy Now!</button>
        </div>
      </div>
       
    </div>
   

</html>